footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
    color: #fff;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: rgb(34 34 34 / 1);
}