<div class="product-wrapper">
  <div class="image-container">
    <div class="image-inner">
      <img [src]="product().image" [alt]="product().title" />
    </div>

    <div class="action-buttons">
      <a alt="Insert procuts in shopping cart" (click)="productConsole()">
        <div class="action-icon red">
          <svg viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </div>
      </a>
      <a [routerLink]="['/product', product().id]">
        <div alt="Display product details" class="action-icon white">
          <svg viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor">
            <path
              d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"
            />
            <path
              d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>

  <div class="product-info">
    <div alt="Product category" class="category">{{ product().category }}</div>
    <h2 alt="Product title"  class="title">{{ product().title }}</h2>
    <div alt="Product price" class="price">{{ product().price | currency }}</div>
  </div>
</div>
