<header [class.shrink]="isHeaderShrunk()">
    <nav>
        <img routerLink="/" src="assets/logos/logo.png" alt="website logo" class="logo">
        <ul class="categories">
            <li alt="Display Products Items" routerLink="/all-products"><h3>Products</h3></li>
            <li alt="Display Women Items" routerLink="/women-products"><h3>Women</h3></li>
            <li alt="Display Men Items" routerLink="/men-products"><h3>Men</h3></li>
            <li alt="Display Electronics Items" routerLink="/electronics-products"><h3>Electronics</h3></li>
            <li alt="Display Jewelry Items" routerLink="/jewelry-products"><h3>Jewelry</h3></li>
        </ul>
        <h3 class="login" routerLink="/login">Login</h3>
        <svg class="bag-of-items" stroke="currentColor" fill="currentColor" stroke-width="0"
            viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"
            aria-label="Shopping cart" role="img" focusable="false">
            <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z">
            </path>
        </svg>
    </nav>
</header>